
<div class="col-md-12 text-center">
  <h1>Hola mundo</h1>
 <p>Find me in app/views/welcome/index.html.erb</p>
  <img src="/imagen/ima.jpg" class="rounded-circle" class="img-responsive" alt="titulo"/>
  <div class="h-30"></div>
</div>

